<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>My Blog</h1></div>
    </div>

    <div class="content">
<!--        <div> Posts are : {{ posts }}</div>-->

        <div class="card">
            {% for post in posts %}

            <h2>{{ posts[loop.index-1]['title'] }}</h2>
            <p>{{ posts[loop.index-1]['subtitle'] }}</p>
            <p><a href="{{ url_for('get_post', num = loop.index-1 )}}">Read More</a></p>
            {% endfor %}
        </div>


    </div>
</div>
</body>
<footer>
    <p>Made with 💖️ in LA.</p>
</footer>
</html>